html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: radial-gradient(circle, rgb(134, 217, 255), rgb(11, 11, 128) );
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-general{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contenedor1{
    width: 90%;
    max-width: 500px;
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    border: 3px solid rgb(70, 70, 70);
    border-radius: 20px;
    margin-right: 30px;
} 

.contenedor2 {
    width: 90%;
    max-width: 730px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 3px solid rgb(70, 70, 70);
    border-radius: 20px;
    padding: 20px;
    overflow-x: auto;
}

.tabla-empleados {
    width: 100%;
    border-collapse: collapse;
}

.tabla-empleados th,
.tabla-empleados td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

.tabla-empleados th {
    background-color: rgba(255, 255, 255, 0.3); /* Fondo del encabezado de la tabla */
}

.tabla-empleados tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo de las filas pares */
}

.tabla-empleados tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Cambio de color al pasar el mouse sobre la fila */
}

.contenedor-mensaje{
    width: 100%;
    height: 30px;
}

.mensaje-exitoso{
    height: 30px;
    margin: 20px;
    border-radius: 10px;
    background-color: #85e28d;
    color: #005204;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.mensaje-error{
    height: 30px;
    margin: 20px;
    border-radius: 10px;
    background-color: #e2859c;
    color: #520000;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.titulo-registro{
    text-align: center;
    margin-top: 20px;
}

.contenedor-datos{
    padding: 20px;
}

.contenedor-datos fieldset{
    border-radius: 15px;
    padding: 20px;
}

.contenedor-datos legend{
    font-size: large;
    font-weight: bold;
}

.contenedor-datos label{
    color: blue;
    font-weight: bold;
    text-align: center;
}

.contenedor-datos input,
.contenedor-datos select {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}

.contenedor-datos input:hover,
.contenedor-datos select:hover {
    background-color: rgb(158, 158, 158);
}

.contenedor-botones{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
}

.contenedor-botones .boton{
    width: 130px;
    height: 50px;
    display: inline;
    margin: 10px 5px;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(47, 147, 230);
    color: white;
    border: 2px solid rgb(20, 102, 170);
    border-radius: 20px;
    box-shadow: #727170 0px 20px 20px -5px;
    text-align: center;
    text-decoration: none;
}


.contenedor-botones .boton:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    background-color: #504f4f;
    color: white;
}

.contenedor-botones .boton:hover .stars{
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);
}

@media (max-width: 768px) {
    /*Estilo específico para pantallas de hasta 768px de ancho*/
    .contenedor1,
    .contenedor2 {
        width: 90%;
    }
}
